aenum==3.1.17
affine==3.0.1
attrs==26.1.0
bcrypt==4.1.2
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
dataclasses-json==0.6.7
et_xmlfile==2.0.0
Flask==2.3.3
Flask-Cors==4.0.1
flask-swagger-ui==4.11.1
idna==3.19
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
marshmallow==3.26.2
mypy_extensions==1.1.0
mysql-connector-python==8.2.0
numpy==2.5.2
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
pillow==12.3.0
protobuf==4.21.12
PyJWT==2.8.0
pyparsing==3.3.2
pyproj==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
PyYAML==6.0.1
rasterio==1.5.1
requests==2.31.0
requests-oauthlib==2.0.0
scipy==1.18.1
sentinelhub==3.11.5
shapely==2.1.2
six==1.17.0
tifffile==2026.9.9
tomli==2.4.1
tomli_w==1.2.0
tqdm==4.70.0
typing-inspect==0.9.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
utm==0.9.0
Werkzeug==2.3.8